database {
  display: block;
  background-color: white;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}


database>logo {
  display: block;
  width: 55%;
  height: 240px;
  background: url(logogus.jpg);
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

data {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px 0;
  display: block;
  background: white;
}

person {
  display: block;
  padding: 10px 0;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid #b2cc33;
  border-radius: 5px;
  height: 300px;
  width: 100%;
}

person>*:not(firstname):not(middlename) {
  margin-left: 650px;
  display: block;
}

firstname::before {
  margin-left: 650px;
  content: "Imiona: ";
  display: inline;
  font-weight: bold;
}

middlename::before {
  content: " ";
  display: inline;
  font-weight: bold;
}

lastname::before {
  content: "Nazwisko: ";
  display: inline;
  font-weight: bold;
}

birthday::before {
  content: "Data urodzenia: ";
  display: inline;
  font-weight: bold;
}

physicalcharacteristics>* {
  display: block;
}

growthinmeters::before {
  content: "Wzrost: ";
  display: inline;
  font-weight: bold;
}


growthinmeters::after {
  content: " "attr(heightUnit);
  display: inline;
}

weightinkilograms::before {
  content: "Waga: ";
  display: inline;
  font-weight: bold;
}

weightinkilograms::after {
  content: " "attr(weightUnit);
  display: inline;
}

position::before {
  content: "Stanowisko: ";
  display: inline;
  font-weight: bold;
}

person[personid="p1"] {
  background: url("img/person1.png");
  background-position: 10% 50%;
  background-size: 30%;
  background-repeat: no-repeat;
}

person[personid="p2"] {
  background: url("img/person2.png");
  background-position: 10% 50%;
  background-size: 30%;
  background-repeat: no-repeat;
}

person[personid="p3"] {
  background: url("img/person3.png");
  background-position: 10% 50%;
  background-size: 30%;
  background-repeat: no-repeat;
}

person[personid="p4"] {
  background: url("img/person4.png");
  background-position: 10% 50%;
  background-size: 30%;
  background-repeat: no-repeat;
}

person[personid="p5"] {
  background: url("img/person5.png");
  background-position: 10% 50%;
  background-size: 30%;
  background-repeat: no-repeat;
}

person[personid="p6"] {
  background: url("img/person6.png");
  background-position: 10% 50%;
  background-size: 30%;
  background-repeat: no-repeat;
}

person[personid="p7"] {
  background: url("img/person7.png");
  background-position: 10% 50%;
  background-size: 30%;
  background-repeat: no-repeat;
}

person[personid="p8"] {
  background: url("img/person8.png");
  background-position: 10% 50%;
  background-size: 30%;
  background-repeat: no-repeat;
}

person[personid="p9"] {
  background: url("img/person9.png");
  background-position: 10% 50%;
  background-size: 30%;
  background-repeat: no-repeat;
}

person[personid="p10"] {
  background: url("img/person10.png");
  background-position: 10% 50%;
  background-size: 30%;
  background-repeat: no-repeat;
}

person[personid="p11"] {
  background: url("img/person11.png");
  background-position: 10% 50%;
  background-size: 30%;
  background-repeat: no-repeat;
}

person[personid="p12"] {
  background: url("img/person12.png");
  background-position: 10% 50%;
  background-size: 30%;
  background-repeat: no-repeat;
}

person[personid="p13"] {
  background: url("img/person13.png");
  background-position: 10% 50%;
  background-size: 30%;
  background-repeat: no-repeat;
}

person[personid="p14"] {
  background: url("img/person14.png");
  background-position: 10% 50%;
  background-size: 30%;
  background-repeat: no-repeat;
}

person[personid="p15"] {
  background: url("img/person15.png");
  background-position: 10% 50%;
  background-size: 30%;
  background-repeat: no-repeat;
}

person[personid="p16"] {
  background: url("img/person16.png");
  background-position: 10% 50%;
  background-size: 30%;
  background-repeat: no-repeat;
}

person[personid="p17"] {
  background: url("img/person17.png");
  background-position: 10% 50%;
  background-size: 30%;
  background-repeat: no-repeat;
}

person[personid="p18"] {
  background: url("img/person18.png");
  background-position: 10% 50%;
  background-size: 30%;
  background-repeat: no-repeat;
}

person[personid="p19"] {
  background: url("img/person19.png");
  background-position: 10% 50%;
  background-size: 30%;
  background-repeat: no-repeat;
}

person[personid="p20"] {
  background: url("img/person20.png");
  background-position: 10% 50%;
  background-size: 30%;
  background-repeat: no-repeat;
}

person[personid="p22"] {
  background: url("img/person22.png");
  background-position: 10% 50%;
  background-size: 30%;
  background-repeat: no-repeat;
}

person[personid="p21"] {
  background: url("img/person21.png");
  background-position: 10% 50%;
  background-size: 30%;
  background-repeat: no-repeat;
}

person[personid="p23"] {
  background: url("img/person23.png");
  background-position: 10% 50%;
  background-size: 30%;
  background-repeat: no-repeat;
}
person[personid="p24"] {
  background: url("img/person24.png");
  background-position: 10% 50%;
  background-size: 30%;
  background-repeat: no-repeat;
}

person[personid="p25"] {
  background: url("img/person25.png");
  background-position: 10% 50%;
  background-size: 30%;
  background-repeat: no-repeat;
}

person[personid="p26"] {
  background: url("img/person26.png");
  background-position: 10% 50%;
  background-size: 30%;
  background-repeat: no-repeat;
}

person[personid="p27"] {
  background: url("img/person27.png");
  background-position: 10% 50%;
  background-size: 30%;
  background-repeat: no-repeat;
}

person[personid="p28"] {
  background: url("img/person28.png");
  background-position: 10% 50%;
  background-size: 30%;
  background-repeat: no-repeat;
}

person[personid="p29"] {
  background: url("img/person29.png");
  background-position: 10% 50%;
  background-size: 30%;
  background-repeat: no-repeat;
}

person[personid="p30"] {
  background: url("img/person30.png");
  background-position: 10% 50%;
  background-size: 30%;
  background-repeat: no-repeat;
}

houses, emails, creditcards, business, products {
  display: none
}

phones::before {
  content: "Infolinia: ";
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
}

phones {
  list-style-type: none;
  display: inline-block;
}

phones>*{
  display: none;
}

phone[phoneid="tel1"] {
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  display: list-item;
}

phone[phoneid="tel2"] {
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  display: list-item;
}

administrators {
  display: block;
  color: #ffffff;
  background: #342f69;
  text-align: center;
  height: 70px;
  font-size: 16px;
}

copyright {
  display: block;
  padding: 5px;
}

admin {
  display: block;
}